.rightfixed{
  position: fixed;
  right: 40px;
  bottom: 100px;
  width: 55px;
  background: #fff;
  color: #333;
  box-shadow: 0 0 10px 1px #ccc;
  background: #fff;
  z-index: 10;
}
.rightfixed .item{
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  border-bottom: 1px solid #e2e2e2;
  color: #b2b2b2;
  position: relative;
  cursor: pointer;
  overflow:hidden
}
.rightfixed .item.selected{
  font-weight: bold;
  color: #f60;
}
.rightfixed .item:before{
  content: '';
  display: block;
  overflow: hidden;
  clear: both;
}
.rightfixed .item i{
  width: 18px;
  height: 18px;
  display: block;
  margin: 12px auto 0;
  background: url(//fes.qyerstatic.com/FtucWXGToQUrsv0avHX6GsBROfzA);
  background-position: 0 0;
}
.rightfixed .item:nth-of-type(2) i{
  background-position: 0 -24px;
}
.rightfixed .item.pctype i{
  background-position: 0 -116px;
}
.rightfixed .item span{
  position: absolute;
  bottom: 1px;
  width: 100%;
  font-size: 12px;
  transform: scale(.8);
  display: block;
  text-align: center;
}
.rightfixed .item:hover{
  overflow: visible;
}
.rightfixed .item:hover i{
  animation: tada 1s linear 3;
}
.rightfixed .item:hover .rightcode{
  opacity: 1;
}
.rightfixed .item .rightcode{
  width: 200px;
  height: 200px;
  position: absolute;
  left: -220px;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #ccc;
  transition: all 1s;
  opacity: 0;
}
.rightfixed .item .rightcode img{
  width: 100%;
}
.rightfixed .item > img{
  width: 100%;
}
@media screen and (max-width: 600px) {
  .rightfixed{
    background: none;
    box-shadow: none;
    bottom: 20px;
    right: 10px;
  }
  .rightfixed .item{
    border: none;
  }
  .rightfixed .item:nth-of-type(1){
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 1px #ccc;
  }
  .rightfixed .item span{
    bottom: 10px;
  }
  .rightfixed .item:nth-of-type(2),.rightfixed .item.pctype{
    display: none;
  }
}

@keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    10%,20% {
        -webkit-transform: scale3d(.9,.9,.9) rotate(-3deg);
        transform: scale3d(.9,.9,.9) rotate(-3deg)
    }

    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate(3deg);
        transform: scale3d(1.1,1.1,1.1) rotate(3deg)
    }

    40%,60%,80% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate(-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate(-3deg)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}