.wxlist{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 0;
}
.wxlist li {
    list-style: none;
    color: #323232;
    font: 700 16px/1 HYQiHei DES,Microsoft YaHei;
    background-color: #fff;
    padding: 8px 14px;
    cursor: pointer
}

.wxlist .wxapp {
    width: 370px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 33px;
    border-radius: 6px;
    box-shadow: -5px 0 10px #f1f1f1,5px 0 10px #f1f1f1,0 -5px 10px #f1f1f1,0 5px 10px #f1f1f1;
    font: 16px HYQiHei DES,Microsoft YaHei;
    color: #323232;
    transition: All .35s ease;
    -webkit-transition: All .35s ease;
    -moz-transition: All .35s ease;
    -o-transition: All .35s ease;
    transform: rotate(0deg) scale(1) skew(0deg) translate(0);
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
    -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
    box-sizing: border-box;
    border: 1px solid\9
}

.wxlist .wxapp:hover {
    box-shadow: -5px 0 20px #cfcfcf,5px 0 20px #cfcfcf,0 -5px 20px #cfcfcf,0 5px 20px #cfcfcf;
    border: 1px solid\9
}
.wxlist figure{
  margin: 0 auto;
  width: 60%;
  padding: 20px;
  overflow: hidden;
}
.wxlist figure img{
  width: 100%;
  vertical-align: top;
}
.wxlist h2{
  margin: 0;
  text-align: center;
  line-height: 30px;
}
.wxlist p{
  padding: 0 20px;
}